@model EntityLayer.Concrete.Product
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ÜRÜN GÜNCELLEME SAYFASI</h2>

@using (Html.BeginForm("EditProduct", "Product", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Ürün ID:")
    @Html.TextBoxFor(x => x.ProductID, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProductID, "", new { @class = "text-danger" })
    @Html.Label("Ürün Adı:")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
    @Html.Label("Açıklama:")
    @Html.TextBoxFor(x => x.ProductDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProductDescription, "", new { @class = "text-danger" })
    @Html.Label("Fiyat:")
    @Html.TextBoxFor(x => x.ProductPrice, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProductPrice, "", new { @class = "text-danger" })

    @Html.Label("Kategori Adı:")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlce,
    new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryID, "", new { @class = "text-danger" })


    <br /><br />
    <form>
        @Html.Label("Kategori Durumu:")
        <br />
        <input type="radio" name="ProductStatus" value="True">Aç(Varsayılan)<br>
        <input type="radio" name="ProductStatus" value="False">Kapat<br>
        <br>
    </form>
    <button class="btn btn-success">Güncelle</button>
</div>
}