@using EntityLayer.Concrete
@model List<Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3 style="margin-left:40%;color:royalblue">Siparişler</h3>
<table class="table table-hover" style="background-color:lightblue">

    <tr style="background-color:royalblue;color:white">
        <th>#</th>
        <th>Sipariş Numarası</th>
        <th>Kullanıcı ID-Adı</th>
        <th>Toplam Tutar</th>
        <th>Sipariş Ayrıntıları</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.OrderID</td>
    <td>@item.Number </td>
    <td>@item.UserId - @item.User.Username</td>
    <td>@item.TotalOrderPrice</td>
    @*<td class="btn btn-light" style="margin-top:8px;margin-left:25px" data-toggle="modal" data-target="#Modal1">
            Detaylar
        </td>*@
    <td><a href="/Order/OrderPartial/@item.OrderID" class="btn btn-light">Detaylar</a></td>
    <td><a href="/Order/EditOrder/@item.OrderID" class="btn btn-warning">Güncelle</a></td>
    <td>
        <div class="container">
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#myModal" data-todelete="/Order/OrderDelete/@item.OrderID">
                SİL
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Silmek İstedğinizden Emin Misiniz?</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <a id="btn-delete" href="" class="btn btn-danger">Sil</a>
                            @*<button type="button" class="btn btn-danger" data-dismiss="modal" href="/AdminCategory/DeleteCategory/@item.CategoryID">Sil</button>*@
                        </div>
                        @*<a ></a>*@
                    </div>
                </div>
            </div>

            <script>
                //Modal Script
                $('#myModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget)
                    var recipient = button.data('todelete')

                    var modal = $(this)
                    modal.find('#btn-delete').attr("href", recipient)
                    modal.find('.modal-body input').val(recipient)
                })
            </script>

        </div>
    </td>
</tr>
    }
</table>
@*@Html.Action("OrderPartial", "Order")*@